$header-small-height: 75px;
$nav-side: left;

#inner-wrap {
  position: relative;
  width: 100%;  
  height: 100%;

}

.aha {
  position: fixed;
  top:0;
  #{$nav-side}: 0;
  // color:#fff;
  text-align: left;
  z-index:1000;
  // background-color:darken(#3d3d3d,10);
  
  // border-bottom:1px solid $primary-color;
  width: 210px;
  // height: 20px;
  @include mq($bp4){
    width: 250px;
  }
}

.ahas {
  #{$nav-side}:-210px !important;
  transition:#{$nav-side} .5s;
  @include mq($bp4){
    #{$nav-side}:-250px !important;
  }

}

.ahasa {
  margin-#{$nav-side}: 0 !important;
 transition:margin-#{$nav-side} .5s; 
}

////////////////////////////

.header {
    
  @include mq($bp3) {
    position: fixed;
    top: 0;
    #{$nav-side}: 0;
    width:210px;  
    background:#fff;
    padding-right: 10px;  //do zmiany
    // border-left:1px solid #f1f1f1;
    bottom: 0;
    overflow-y: auto;
    z-index:2;
    transition:all .5s;
    background: #2d2d2d url(/images/kola2.svg) bottom -70px right no-repeat;
  }
  @include mq($bp4){
    width: 250px;
  }

}





//logo
.logo-wrapper {
  z-index: 1;
  height:$header-small-height;
  // background: $header-color;

  display: table;
  width:100%;
  @include mq($bp3) {
    background:transparent;
    height:auto;
    display: block;
    // margin-bottom: 2em;
    padding-top:30px;
    padding-bottom:50px;
    margin-top: 20px;
    // border-top: 1px solid #414141;
    padding-left: 20px;
    overflow: hidden;

    
  }
}

.logo {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  img {
    height:34px;
    width:auto;
  }
  @include mq($bp3) {
    display: block;
    text-align: left;
    // padding-left: .5em;
    // text-align: center;
    // border-left:2px solid $primary-color;
    // padding:6px 20px;
    img {
      height: 34px;
    }
  }
  @include mq($bp4) {
   img {
      height: 40px;
    } 
  }
}

//kontakt info
.contact-info {
  border-bottom: 1px solid $primary-color;
  // width: 100%;
  padding: .5em;
  // padding-left: 20px;
  // text-align: right;
  color:$header-contact-link;
  background-color:$header-color;
  @include mq($bp3){
    background-color:transparent;
    border-bottom: 0;
    position: absolute;
    // float: right;
    bottom: 0;
    left: 0;
    width: 100%;
    // background-color: shade($nav-color,10);
    // left:1em;
    // margin-left: 1em;

    z-index:5;

    padding: 1em 20px 2em; 
    }
  @media screen and (min-width: $bp3) and (max-height: 600px) {
    position: static;
 }
}

.contact-info-inner {
  @include mq($bp3) {
    // padding-left:1em;
    width: 100%;
    // max-width:300px;
    // float: right;
    // text-align: left;
    // border-left: 3px solid $primary-color;
  }
  p {
    display: none;
    @include mq($bp3){
      display: block;
      font-size:em(14);
    }
  }
}

.contact-info-list {
  li {
    display: inline-block;
    margin-left: .5em;
    font-size:14px;
    &:first-child {
      margin-left: 0;
    }
    @include mq($bp3){
      margin-left: 0;
      &:first-child {
        margin-right: 1em;
      }
    } 
  }
}


.nav {
  @include mq($bp3){
    // height:80%;
    padding-bottom: 5em;
  }
}
.nav-inner {
  padding-top: $header-small-height;
  @include mq($bp3){
    padding-top: 0;
    // padding-right: 2em;
    

    // border-left:1px solid #73C2D0;
  }
}

.nav-active {

  a {
    background:#fff;
    background: darken($header-color,10);
    color:#f9f9f9;
    &:hover {
      // background:#fff !important;
    }
  }
}
