.section-help {
	// padding-top:3em;
	position: relative;
	// background:#fff;



	// border-bottom: 10px solid #531734;
	@include mq($bp3){
		// padding-left: 10px;
		// padding-right: 10px;
	}
	
	// margin-bottom: 10em;
	// background: #CAF0EE;
	// background:#16565F;
}

.section-heading {
	// background-color:#7E1D4B;
	// background:#531734;
	// background: #FF3878;
	// background:#fafafa;
	// background:#F4F1ED;
	// background:#3F3C37
	// border-bottom:1px solid #d8d8d8;
	.hr-divider {
		// background-color:#fff;
	}
}

.section-help h3 {
	// text-align: center;
	// padding:1em 0 1.5em;
	padding-top: 2em;
	padding-bottom: 2.5em;
	max-width:1100px;
	margin-left: auto;
	margin-right: auto;
	border-bottom:1px solid #d8d8d8;
	border-top: 8px solid #3d3d3d;
	// color:#fff;
	// background:url(/images/kola2.svg) left center no-repeat; 
	// background-size:300px;
	

	// border-top:1px solid #c9c9c9;
	// border-top: 4px solid shade($primary-color,0);
	
	position: relative;
	&:before {
		// content:'';
		width:30px;
		height: 30px;
		background:#fff;
		background:$primary-color;
		display: inline-block;
		position: absolute;
		top: 30px;
		left: 10px;
		border-radius:500px;
		border:2px solid $primary-color;
	}
	
}