@media screen and (max-width: $bp3) {
 

 // for no-js solution (target link)
  #nav:not(:target) {
    z-index: 1;
    height: 0;
  }
  #nav:target .btn-close {
    display: block;
  }
 
// for older browsers (no transform and transitions)

  .js-ready #nav {
    left:-70%;
    height: 100%;
    width: 70%;
    // background: $header-color;
    border-right: 1px solid $secondary-color;
  }

  .js-ready #inner-wrap {
    left: 0;
  }

  .js-nav #inner-wrap {
    left: 70%;
  }

// for modern browsers (with transform and transitions)
  .csstransforms3d.csstransitions.js-ready #nav {
    left: 0;

    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .csstransforms3d.csstransitions.js-ready #inner-wrap {
    left: 0 !important;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    -webkit-transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .csstransforms3d.csstransitions.js-nav #inner-wrap {
    -webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
  }

// lekka animacja gdy poajwia sie nawigacja, opacity i skalowanie
  .csstransforms3d.csstransitions.js-ready .nav-inner {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;

    -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
    -webkit-transition-delay: ease, 0s;
    transition: opacity 300ms 100ms ease, transform 500ms ease;
    
    -webkit-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
   
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  .csstransforms3d.csstransitions.js-nav .nav-inner {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}