/* ------------------------------------------
  RESPONSIVE NAV STYLES
--------------------------------------------- */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: $bp4) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}



/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */

header {
  // background: #fff;
  // position: fixed;
  position: absolute;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
  transition:all 1s;
  // height:70px;
  // border-bottom:1px solid #d8d8d8;
  // border-bottom:1px solid #9AB531;
  // box-shadow:0 2px 3px rgba(#000,.2);
}

@-webkit-keyframes slideIn {
    from { 
      opacity: 0;
      -webkit-transform: translateY(-70px);
      
          }
      to {
      -webkit-transform: translateY(0);
        }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.sticky{
  position: fixed;
  // height:100px;
  background:#fff;
  border-bottom:1px solid $third-color;

  // transition:all 1s;
  -webkit-animation: slideIn .5s;
}

.header--inner {
  // border-bottom: 1px solid #9AB531;
  // border-bottom: 1px solid $third-color;
  @include mq($bp4){
    padding-left:20px;
    padding-right: 20px;
    // max-width: 1100px;
    // margin-left: auto;
    // margin-right: auto;
    // padding-left:60px;
    // padding-right: 40px  
  }
  
}

.no-border {
  border-bottom: 0;
}


.logo {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  padding: 0 20px;
  float: left;
  // display: inline-block;
  // vertical-align: middle;
  img{
    height: 65px;  
    padding: 1em 0;
  }
  @include mq($bp3){
    padding: 0;

  }
  
}


/* ------------------------------------------
  MASK
--------------------------------------------- */

.mask {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms;
  background: rgba(0,0,0, .5);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  @include mq($bp4){
    display: none !important;
    opacity: 0 !important;
  }
}

.android .mask {
  -webkit-transition: none;
  transition: none;
}

.js-nav-active .mask {
  visibility: visible;
  opacity: 1;
}



/* ------------------------------------------
  NAVIGATION STYLES
--------------------------------------------- */

.nav-collapse,
.nav-collapse ul {
  width: 100%;
  display: block;
  @include mq($bp4){
    float: right;
    width: auto;
  }
}


.nav-collapse li {
  display: block;
  width: 100%;
  &:last-child a{
    // color:$primary-color;
  }
  @include mq($bp3){
    margin-left: 1em;

  }
  @include mq($bp4) {
    display: inline-block;
    width: auto;
  }
}


.nav-collapse a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border-top: 1px solid white;
  text-decoration: none;
  font-size:12px;
  text-transform: uppercase;
  // font-weight: 700;
  padding: 1em 0.5em;
  // color: #ccc;
  width: 100%;
  display: block;
  line-height: 40px;
  &:hover {
    color:$primary-color;
  }
  @include mq($bp4){ 
    // padding: 0;
    padding: 1em 0;
    padding-left: .5em;
    text-align: center;
    border-top: 0;
    // border-right:1px solid black;
    margin: 0;
  }
  span {
    @include mq($bp4){
      // display: block;
    }
  }
}



.nav-collapse a:active,
.nav-collapse .active a {
  // background: #5d5d5d;
  color:$primary-color;
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */


.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #fff; /* Edit this to change the icon color */
  font: normal 38px/55px "responsivenav"; /* Edit font-size (28px) to change the icon size */
  font:normal 28px/55px;
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261"; /* Hamburger icon */
  text-indent: 0;
  speak: none;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 24px;
  content: "\78"; /* Close icon */
}
