.section-services {
	padding-bottom: 6em;
	position: relative;
	background:#f0e7d3;
	// background:url(/images/tlo7.jpg) center center no-repeat;
	background:url(/images/tlo8d.jpg) center center no-repeat; //best
	background:#f0e7d3 url(/images/tlo12.jpg) center center no-repeat; //w miare ok
	background-size:cover;
}



.uslugi-container {
	@include mq($bp4){
		max-width:700px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 5em;
		// padding: 5em 0;
		position: relative;
		&:after {
			content:'';
			position: absolute;
			width:15px;
			height: 15px;
			bottom: 0;
			left: -7px;
			border-radius:50%;
			background:$primary-color;
		}
	}
}



.wrap-uslugi {
	// @include mq($bp4){
	// 	width:100%;
	// 	&:nth-of-type(2){
	// 		background:rgba(#fff,.5);
	// 	}
	// }
}

.uslugi-box {
	display: block;
	padding: 2em 0;
	@include mq($bp4){
		border-left:1px solid $third-color;
		// float: right;
		// width:800px;
		padding: 0;
		padding-bottom: 5em;

	}


}

.rel {
	@include mq($bp4){
		position: relative;
		&:after {
				content:'';
				width: 30px;
				height: 30px;
				position: absolute;
				top: 16px;
				left:-16px;
				// right: -33px;
				border-radius:50%;
				background:$primary-color;
		}
	}
}

.uslugi-box__headline {
	text-align: center;
	@include mq($bp4){
		// display: table-cell;
		// position: relative;
		// vertical-align: top;
		// width: 220px;
		text-align: left;
		// padding-right: 1em;
		// border-right: 4px solid $primary-color;
		
	}
	h4 {
		// text-transform: uppercase;
		font-size:24px;
		font-family: $alt-font-family;
		font-weight: 600;	
		line-height: 1.2;
		padding: 20px 40px 30px;
		// padding-left: 40px;
		border-bottom:2px dotted #ccc;
		border-top:4px solid #fff;
		@include mq($bp4){
			// padding-top: 35px;
			// border-top: 1px dotted #ccc;
			border-top: none;
			border-bottom: none;
			// border-top: none;
		}
	}
	
}

.uslugi-box--first {
	@include mq($bp4) {
			.rel:after {
				top: 0;
			}
			h4 {
				padding-top: 5px;
			}	
		.uslugi-box__body {
			// padding-top: 0em;
		}
	}
}


.uslugi-box__body {
	margin-top: 3em;

	max-width:650px;
	margin-left: auto;
	margin-right: auto;
	@include mq($bp4){
		margin-top: 0;
		margin-left: 24px;
		border:1px solid $third-color;
		padding:2em 1em;
	}
}

.list {
	padding-left: 1em;
	// max-width:600px;
	// margin-left: auto;
	// margin-right: auto;
	li{
		position: relative;
		padding-left: 30px;
		margin-bottom: 1em;
		&:last-child{
			margin-bottom: 0;
		}
		&:before{
			content:'';
			position: absolute;
			left: 0;
			top: 6px;
			width: 12px;
			height: 12px;		
			border:2px solid $primary-color;
			border-radius:50%;
			border-radius:500px;	
		}
	}

}

.uslugi-box:last-child .list li:before {
	
	
}

.list--uslugi {
	// max-width:650px;
	// margin-left: auto;
	// margin-right: auto;
	li {
		@include mq($bp3){
			float: left;
			width:33.3333%;
		}
	}
}

.li-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:80px;
	height: 82px;
	margin-bottom: .5em;
}

.li-item:nth-of-type(1) .li-img {
	background: url(/images/icon-strony2.svg) center center no-repeat;
	background-size:contain;

}
.li-item:nth-of-type(2) .li-img {
	background: url(/images/icon-mail4.svg) center center no-repeat;
	background-size:contain;
}

.li-item:nth-of-type(3) .li-img {
	background: url(/images/icon-strony2.svg) center center no-repeat;
	background-size:contain;
}

.li-text {
	display: block;
	text-align: center;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	font-size:14px;
}