.section-proces {
	background:url(/images/tlo8d.jpg) center center no-repeat; //best
	background:url(/images/tlo7c.jpg) center center no-repeat;

	background:url(/images/tlo15.jpg) center center no-repeat;
	background:url(/images/tlo12.jpg) center center no-repeat;
	
	background-size:cover;
	.section-title {
		// background:rgba(#A07C58,1);
		// color:#fff;
		h3 {
			// color:#fff;
		}
		span:after,
		span:before {
			// background:#fff;
		}
	}
}

.section-body {
	// border:1px solid $third-color;
	margin-top: 1em;
	margin-bottom: 1em;
}


.tabs-wrap--proces {
	width: 100%;
	max-width:800px;
	margin-top: 5em;
	margin-bottom: 5em;
	padding:120px 0;
	position: relative;

	.tab {
		display: none;
		&:hover i {
			// -webkit-transform:scale(1.2);
		}

		@include mq($bp4) {
			position: absolute;
			display: inline-block;
			width: 200px;
			height: 50px;
			text-align: center;

			border:1px solid #fff;
			// border:1px solid darken(#F1E1BF,20);
			// background:#fff;
			
			line-height: 50px;
			text-transform: uppercase;
			font-size:14px;
			font-weight: 700;
			// color:$primary-color;
			// color:#fff;
			border-radius:3px;
			background:$l-beige;
		
			i {
			
			font-style:normal;
			text-align: center;
			line-height: 30px;
			font-weight: 700;

			position: absolute;
			width: 40px;
			height: 40px;
			background:darken(#F1E1BF,20);
			background:$l-beige;

			border:1px solid $primary-color;
			border:5px solid #fff;
			// background:#F9F3EE;
			// background:#FFFDF8;
			border-radius:50%;
			z-index:1;
			}
		}

	}
	.tab.active {
		background:$primary-color;
		color:#fff;
		i {
			background:$primary-color;
			// -webkit-transform: scale(1.2);
		}
		span {
			background:darken($primary-color,20);
			color:#fff;
		}
	}
}


.tabs-container--proces {

}

.tab-content--proces {
		display: none;
		width: 100%;
		background:#666;
		padding:2em 1em;
	@include mq($bp4){
		display: block;
		padding: 0;
		width: 320px;
		height: 300px;
		background:none;
		top: 80px;
		left: 50%;
		margin-left: -160px;
		text-align: center;
	}

}

.tab-content--proces {
	

	h4 {
		// color:#fff;
		display: inline-block;
		padding:0 .5em .2em;
		border-bottom: 1px solid #fff;
		margin-bottom: 1em;
	}
	p {
		line-height: 1.8;
		// color:#fff;
	}
}


.js .tabs-circle {
	@include mq($bp4){
		border-radius:50%;
		width:480px;
		height: 480px;
		// background:#D10043;
		// background:#525252;
		background:#F1E1BF;
		background:#fff;

		position: relative;
		border-radius:50%;

		&:after {
			position: absolute;
			content:'';
			background: url(/images/proces5.svg) center center no-repeat;
			background-size:cover;
			width:560px;
			height:560px;
			top: -40px;
			left: -40px;
		}
	}
}



.tab-proces-1 {
	left: 150px;
	top: 0;
	i {
		left: 80px;
		bottom: -52px;
	}
}

.tab-proces-2 {	
	right: 100px;
	top: 150px;
	i {
		left: -72px;
		top: 5px;
	}
}	

.tab-proces-3 {	
	right: 40px;
	
	top:50%;
	margin-top:-25px;
	i {
		left: -62px;
		top: 5px;
	}
}	

.tab-proces-4 {	
	right: 100px;
	// top: 510px;
	bottom:150px;
	i {
		left: -72px;
		top: 5px;

	}
}

.tab-proces-5 {	
	left: 150px;
	bottom: 0;
	i {
		left: 80px;
		top: -52px;

	}
}


//mobile

.m-heading {
	display: block;
	@include mq($bp4){
		display: none;
	}
}


