.section-services {
	padding-bottom: 2em;
	position: relative;
	background:#F9F5EA;
	@include mq($bp5b){
		padding-bottom: 6em;
		background:#f0e7d3 url(/images/bg-uslugi.jpg) center center no-repeat;
		background-size:cover;

		// background-attachment:fixed;
	}
}

.uslugi-container {
	margin-top: 2em;
	margin-bottom: 1em;
	@include mq($bp5b){
		margin-top: 5em;
		// background:rgba(#fff,.4);
	}
}

.uslugi-box {
	margin-bottom: 2em;
	width: 100%;
	@include mq($bp3){
		max-width:700px;
		margin-left: auto;
		margin-right: auto;
	}
	@include mq($bp5b){
		float: left;
		padding-top: 0;
		margin-bottom: 0;
		width: 40%;

	}
}

.uslugi-box:first-child {
	@include mq($bp5b) {
		width: 20%;
	}
	.uslugi-box__body {
		@include mq($bp5b){
			// padding-left: 0;
		}
	}
}


.uslugi-box:nth-of-type(3) {
	@include mq($bp5b){
		// padding-left: 1em;
	}
}

.uslugi-box:nth-of-type(2) {

	// border:2px dotted #906C48;
	// border:2px dotted #906C48;
	// border-radius:4px;
	// background:rgba(#fff,.4);
	@include mq($bp5b){
		// padding-left: 1em;
		// padding-right: 1em;
		
		// border:2px dotted #906C48;
		border-left:1px solid $third-color;
		border-right:1px solid $third-color;
		// border-top:3px solid #ccc;
		// border-bottom: none;
		margin-top: -1em;	
		// border-radius:4px;
		// background:rgba(#fff,.2);
	}
	.uslugi-box__body {
		@include mq($bp5b){

		}
	}
	.uslugi-box__headline {
		@include mq($bp5b){
			// border-top: none;
		}
	}
	.uslugi-box__headline h4 {
		@include mq($bp5b){
		}
	}
}

.uslugi-box:hover {

		.uslugi-box__headline {
			@include mq($bp5){
				h4 {
					background:$primary-color;
					color:#fff;

				}
				&:after {
					border-top-color: $primary-color;
				}
			}	
		}

}


.uslugi-box__headline {
	text-align: center;
	position: relative;
	border-bottom:4px solid #fff;
	// max-width:500px;
	// margin-left: auto;
	// margin-right: auto;
	// margin-bottom: 1em;
		&:after,
		&:before {
			content:'';
			position: absolute;
			height:0;
			width: 0;
			pointer-events: none;
			top:100%;
			left:50%;
			border-style:solid;
		}

		&:before {
			margin-left: -19px;
			border-width: 16px 19px 0 19px;
			border-color: #fff transparent transparent transparent;
		}

		&:after {
			margin-left: -15px;
			margin-top: -2px;
			border-width: 12px 15px 0 15px;
			border-color: #F9F5EA transparent transparent transparent;
		}
	@include mq($bp5b){
		
		border-bottom: none;
		// background:#555;

		border-top:1px solid $third-color;
		// border-bottom: 1px solid $third-color;
		// background:#fff;
		// margin-bottom: 0;
		&:before,
		&:after {
			border-color:transparent;
		}
		
	}	
	
	h4 {
		// text-align: center;
		padding: .75em 1em;

		// padding-left: 50px;
		


		display: block;
		font-family: $base-font-family;
		font-size:18px;
		font-weight: 700;
		letter-spacing: 0.01em;
		// border-bottom:4px solid #fff;
		// border-top:1px solid $third-color;
		// text-transform: uppercase;


		@include mq($bp5b){
			border-bottom:none;
			// color:#fff;
			
			
			
			width:auto;
			
		
		}
		span {
			@include mq($bp5b){
			position: absolute;
			top: 0;
			left: 0em;
			line-height: 50px;
			padding-left: 15px;
			padding-right: 15px;
			// border:1px solid #fff;
			background:#C39F7B;
			color:#fff;
			
			}
		}
	}	
}

.touch .uslugi-box__headline {
	@include mq($bp5b){
		background:#fff;
	}
}

.uslugi-box__body {
	padding:3em 0em;
	// border:1px solid $third-color;
	// border-top: none;
	// background:rgba(#fff,.3);
	// max-width:600px;
	// margin-left: auto;
	// margin-right: auto;
	@include mq($bp5b){
		background:transparent;
		border:none;
		height: 500px;
		padding:2em 1em;
		

		// padding-right: 0;
	}
}

.list,
.list--uslugi {
	padding:0 .5em;
	max-width:500px;
	margin-left: auto;
	margin-right: auto;
	@include mq($bp5b){
		padding: 0;
	}
}

.list {
	li{
		position: relative;
		padding-left: 20px;
		margin-bottom: 1em;
		&:last-child{
			margin-bottom: 0;
		}
		&:before{
			content:'';
			position: absolute;
			left: 0;
			top: 8px;
			width: 10px;
			height: 10px;		
			background:$primary-color;
			border-radius:500px;	
			border-radius:50%;
		}
	}

}


.list--uslugi {
	li {
		@include mq($bp3){
			float: left;
			width:33.3333%;
		}
		@include mq($bp5b){
			float: none;
			width: 100%;
			margin-bottom: 2em;
		}
	}
}

.li-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:81px;
	height: 81px;
	margin-bottom: .5em;
}



.li-text {
	display: block;
	text-align: center;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	font-size:14px;
	line-height: 1.2;
}