.section-services {
	padding-bottom: 6em;
	position: relative;
	background:#f0e7d3;
	// background:url(/images/tlo7.jpg) center center no-repeat;
	// background:url(/images/tlo8d.jpg) center center no-repeat; //best
	background:#f0e7d3 url(/images/tlo12.jpg) center center no-repeat; //w miare ok
	background-size:cover;
	background:#F9F5EA;
}

.uslugi-container {
	border-radius:3px;
	margin-top: 1em;
	margin-bottom: 1em;
	@include mq($bp5){
		border:1px solid $l-beige;
		box-shadow:0 1px 3px rgba(#000,.1);
		
	}
}

.uslugi-box {
	// padding: 2em 0;
	margin-bottom: 2em;
	width: 100%;
	border:1px solid $l-beige;
	border-radius:3px;
	background:rgba(#fff,.3);
	@include mq($bp3){
		max-width:700px;
		margin-left: auto;
		margin-right: auto;
	}
	@include mq($bp5){
		float: left;
		padding-top: 0;
		margin-bottom: 0;
		width: 40%;
		border:none;
	}
}

.uslugi-box:first-child {
	@include mq($bp5) {
		width: 20%;
	}
}

.uslugi-box:nth-of-type(2) {
	.uslugi-box__body {
		@include mq($bp5){
			border-left:1px solid shade($l-beige,0);
			border-right:1px solid shade($l-beige,0);
		}
	}
	.uslugi-box__headline {
		@include mq($bp5){
			border-left:1px solid #fff;
			border-right:1px solid #fff;	
		}
	}
}

.uslugi-box:hover {
	
	.uslugi-box__headline {
		h4 {
			// background:shade($l-beige,3);	
			background:$primary-color;
			color:#fff;
		}
		&:after {
			// border-top-color: shade($l-beige,3);
			border-top-color: $primary-color;
		}
	}
}


.uslugi-box__headline {
	// text-align: center;
	position: relative;

	&:after {
		content:'';
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -16px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 12px 16px 0 16px;
		border-color: transparent;
		transition:all .2s;
		z-index:1;		
	}

	h4 {
		text-align: center;
		padding: 1em;
		display: inline-block;
		display: block;
		font-family: $base-font-family;
		font-size:18px;
		font-weight: 400;
		background:$l-beige;
		
		// background:$primary-color;
		// color:#fff;

		border-top-left-radius:3px;
		border-top-right-radius:3px;
		transition:all .2s;
	}	
}



.uslugi-box__body {
	padding:2em 1em;
	max-width:600px;
	margin-left: auto;
	margin-right: auto;
	@include mq($bp5){
		height: 500px;
		padding:0 1em;
		margin-top:2em;
		margin-bottom: 2em;
	}
}

.list {
	li{
		position: relative;
		padding-left: 30px;
		margin-bottom: 1em;
		&:last-child{
			margin-bottom: 0;
		}
		&:before{
			content:'';
			position: absolute;
			left: 0;
			top: 6px;
			width: 12px;
			height: 12px;		
			// border:2px solid $primary-color;
			background:$primary-color;
			border-radius:50%;
			border-radius:500px;	
		}
	}
}

.list--wiem {
	li:before {
		// background:shade($l-beige,10);
	}
}


.list--uslugi {
	li {
		@include mq($bp3){
			float: left;
			width:33.3333%;
		}
		@include mq($bp5){
			float: none;
			width: 100%;
		}
	}
}

.li-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:80px;
	height: 82px;
	margin-bottom: .5em;
}

.li-item:nth-of-type(1) .li-img {
	background: url(/images/icon-strony2.svg) center center no-repeat;
	background-size:contain;

}
.li-item:nth-of-type(2) .li-img {
	background: url(/images/icon-mail4.svg) center center no-repeat;
	background-size:contain;
}

.li-item:nth-of-type(3) .li-img {
	background: url(/images/icon-strony2.svg) center center no-repeat;
	background-size:contain;
}

.li-text {
	display: block;
	text-align: center;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	font-size:14px;
}