.section-kontakt {
	position: relative;
	background: lighten(#484848,10);
	background:url(/images/bg-kontakt_small.jpg) right center no-repeat;
	background-size:cover;
	@include mq($bp2){
		background:url(/images/bg-kontakt_medium.jpg) right bottom no-repeat;
		background-size:cover;
	}
	@include mq($bp4){
		background:url(/images/bg-kontakt.jpg) center center no-repeat;
		background-size:cover;
	}
	.section-title {
		color:#fff;
		h3 {
			color:#fff;
		}
	}
}

.section-kontakt-body {
	padding:3em 0 6em;
	
	@include mq($bp1){
		width: 75%;
	}
	@include mq($bp3){
		padding-top: 6em;
	}
	@include mq($bp4){
		width: 50%;
	}
	@include mq($bp5){
		padding:8em 2em;
	}
	p {
		color:#fff;
		font-size:16px;
		@include mq($bp4){
			font-size:18px;
		}
	}
}

.kontakt-list {
	margin-top: 3em;
	li {
		margin-bottom: 1em;
		color:#fff;
		a:hover {
			opacity:.7;
		}
	}
	li:before {
		content:'';
		width:50px;
		height: 50px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 1em;
	}
}