$box1 : lighten(#F4F1ED,2);
// $box1 : #f0f0f0;
$box2 : lighten(#F4F1ED,0);
$box3 : darken(#F4F1ED,2);


.section-services {
	padding-bottom: 6em;
	position: relative;
	// background:lighten(#F4F1ED,2);
	background: #fff;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}

.headline {
	// background:#F4F1ED;
	border-bottom: 1px solid #d8d8d8;
}

.section-services h3 {
	padding-top: 2em;
	padding-bottom: 2.5em;
	position: relative;	
}

.service-container {
	margin-top: 4em;
	margin-bottom: 4em;
	// padding-left: 80px;
}


.service-box {
	position: relative;
	height: 100%;
	margin-bottom: 1em;
	// border-left: 1px solid red;
	&:nth-of-type(1) {
		&:before {
			// content:'';
			// position: absolute;
			// top: 10px;
			// left: 10px;
			// width: 2px;
			// // height: 100%;
			// height: 700px;
			// background-color:red;
		}
		.service-box-content:before {
			border-right-color:$box1;
		}
		.service-box-title {
			border-top:none;
			// border-left: 2px solid red;
		}
		.service-box-content {
			background:$box1;
		}
		.service-box-title:before{
			width: 20px;
			height: 20px;

			// margin-left: -11px;
			// top: -10px;
		}
	}
	&:nth-of-type(2) {
		.service-box-content:before {
			border-right-color:$box2;
		}
		.service-box-title {
			border-top:none;
			// border-left: 2px solid red;
		}
		.service-box-title:before{
			width: 28px;
			height: 28px;
			// margin-left: -17px;
			// top: -16px;
		}
		.service-box-content {
			background:$box2;
		}
	}
	&:nth-of-type(3) {
		.service-box-content:before {
			border-right-color:$box3;
		}
		.service-box-title:before{
			width: 36px;
			height: 36px;
			// margin-left: -19px;
			// top: -20px;
		}
		.service-box-content {
			background:$box3;
		}
	}
	@include mq($bp4){
		padding-top: 0;
		display: table;
		width: 100%;
		// margin-bottom: 2em;
		// float: left;
		&:nth-of-type(1) {
			// width: 20%;
		}
		&:nth-of-type(2) {
			// width: 40%;
		}
		&:nth-of-type(3) {
			// width: 40%;
			
		}

	}
}



.service-box:hover .service-box-title:before
{
	-webkit-transform: scale(1.2);
	
}

.service-box-title {
	border-top:1px solid #d8d8d8;
	text-align: center;
	position: relative;
	margin-bottom: 3em;
	&:before {
		content:'';
		background:$primary-color;
		position: absolute;
		border-radius:500px;
		left:50%;
		border:5px solid #fff;
		transition:all .3s;
	}
	@include mq($bp4){
		margin-bottom: 4em;
		border-top:none;
		display: table-cell;
		vertical-align: top;
		width:250px;
		text-align: left;
		&:before {
			position: static;
			display: inline-block;
			vertical-align: middle;
			// margin-left: -11px;
			// left: 0;
			// top: 0px;
		}
		// text-align: left;
	}
}

.service-box-title h4 {
	display: inline-block;
	font-family: $base-font-family;
	font-size:18px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 1em;
	padding-top: 2em;
	border-bottom:2px solid darken(#F4F1ED,10);
	position: relative;
	transition:all .3s;
	@include mq($bp4){
		padding: 0;
		padding-left: 10px;
		vertical-align: middle;
		border-bottom: 0;
	}
	

	// &:after {
	// 	content: "";
	// 	display: block;
	// 	width: 40px;
	// 	height: 30px;
	// 	position: absolute;
	// 	bottom: -30px;
	// 	left: .5em;
	// 	left:50%;
	// 	margin-left: -15px;
	// 	// background: transparent url(/images/arrow2.svg) top left no-repeat;
	// 	// background-size: contain;
	// }
	// &:after,
	// &:before {
	//   content: '';
	//   position: absolute;
	//   top: 72px;
	//   // bottom: -10px;
	//   border-style: solid;
	//   height: 0;
	//   width: 0;
	//   position: absolute;
	//   pointer-events: none;

	// }
	// &:before {
	//   border-color: transparent;
	//   border-top-color: $primary-color;
	//   border-top-color: darken(#F4F1ED,10);

	//   border-width: 15px 15px 0 15px;
	//   left: 50%;
	//   margin-left: -15px;
	// }
	// &:after {
	//   border-color: transparent;
	  
	//   border-top-color: #F4F1ED;
	//   border-width: 13px 13px 0 13px;
	//   left:50%;
	//   margin-left: -13px;
	// }
}


.service-box-content {
	display: table-cell;
	// border:1px solid black;
	// width: 80%;
	position: relative;

	&:before{
		content:'';
		position: absolute;
		top: 0;
		left: -30px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 30px 20px 0;
		// border-color: transparent #007bff transparent transparent;
		border-color:transparent;
	}
}




.service-box-list,
.service-box-services {
	padding: 4em 2em;
	// display: table-cell;
	// border:1px solid  black;
	// padding: 1em;
	// width: 70%;
	// width: 100%;
	// width: 80%;
}



.service-box-services {
	// margin-left: auto;
	// margin-right: auto;
	@include mq($bp4){
		// height: 650px;
	}
}

.service-box-services li {
		margin-bottom: 2em;
		width: 100%;
		@include mq($bp2){
			width:33%;
			float: left;
		}
		@include mq($bp4){
			// float: none;
			// width: 100%;		
		}
}	

.li-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:80px;
	height: 82px;
	margin-bottom: .5em;
	@include mq($bp2) {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: .5em;
	}
}

.li-item:nth-of-type(1) .li-img {
	background: url(/images/icon-strony2.svg) center center no-repeat;
	background-size:contain;

}
.li-item:nth-of-type(2) .li-img {
	background: url(/images/icon-mail4.svg) center center no-repeat;
	background-size:contain;
}

.li-item:nth-of-type(3) .li-img {
	background: url(/images/icon-strony2.svg) center center no-repeat;
	background-size:contain;
}

.li-text {
	display: block;
	text-align: center;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	@include mq($bp2){
	}
}




.service-box-list {
	margin-left: auto;
	margin-right: auto;
	// padding:1em;
	// padding-left: 2em;
	@include mq($bp4){
		max-width:600px;			
	}
}


.service-box-list li {
	margin-bottom: 1em;
	padding-left: 20px;
	position: relative;
	&:before {
		content:'';
		display: block;
		position: absolute;
		width: 8px;
		height: 8px;
		background:$primary-color;
		top: 8px;
		left: 0;
		border-radius:500px;
	}
	@include mq($bp4){
		&:last-child {
			margin-bottom: 0;
		}
	}
}