<section id="home" class="section section-info">
	<div class="v-centered">
		<div class="wrap">
			<div class="hero-wrap">
				<div class="info-text">
					<hr class="hr-divider">
					<h2 class="info-text-title">
						Mój tekst
						<span>Twój <span>zysk</span></span>
					</h2>
					<!-- <hr class="hr-divider"> -->
					<p>Nazywam się Milena&nbsp;Leszczyńska&#8209;Sowirka
i jestem niezależnym <span class="highlight">web&nbsp;copywriterem.</span></p>
					<p>Tworzę teksty na strony internetowe które nie tylko informują czy dostarczają rozrywki, ale też intrygują, przekonują i sprzedają Twoje produkty i usługi. </p>
				</div><!--
				--><div class="info-img">
					<img src="/images/milena.jpg" alt="">
					<span class="bg-kolka"></span>
				</div>
			</div>	
			<a class="learn-more scroll" href="#section-education">
				<span class="icon-arrow-down"></span>Zobacz dlaczego warto skorzystać z moich usług
			</a>
		</div>
	</div>
	

</section>
