<section id="section-education" class="section section-education">
	<!-- <hr class="hr-section section-inner"> -->
	<div class="section-education-title">
		<!-- <div class="section-inner"> -->
		
			<h3 class="wrap">Dlaczego tekst na stronach www
jest najważniejszy?
			</h3>
			<!-- <hr class="hr-divider">	 -->
		<!-- </div> -->
	</div>
	
	<!-- <div class="section-inner"> -->
		<ul class="education-list">
			<li class="education-list-row">
				<div class="education-item ">
					<h4 class="icon icon-slowa">Słowa sprzedają</h4>
					<!-- <hr class="hr-divider hr-thin"> -->
					<p>Ludzie z reguły nie odwiedzają stron internetowych aby podziwiać ich wygląd. Nie skupiają się też na technologii.Elementy te są oczywiście bardzo ważne.. ale&nbsp;Twoi potencjalni klienci odwiedzają strony z&nbsp;powodu treści. Design przyciąga uwagę, ale&nbsp;to&nbsp;słowa sprzedają.</p>
				</div>
				<div class="education-item">
					<h4 class="icon icon-osobowosc">Twój biznes ma osobowość</h4>
					<!-- <hr class="hr-divider hr-thin"> -->
					<p>Zbyt wiele firm stara sie ukryc swoja osobowosc aby byc bardziej profesjonalnym. Ich tresc staje sie jednak sucha, nudna i&nbsp;pozbawiona blasku. Slowa rowniez moga miec osobowosc. W koncu probujesz sie komunikowac z&nbsp;ludzmi a nie z&nbsp;robotami, prawda?</p>
				</div>
			</li>	
			<li class="education-list-row">
				<div class="education-item">
					<h4 class="icon icon-inwestycja">Twoja strona to inwestycja</h4>
					<!-- <hr class="hr-divider hr-thin"> -->
					<p>Twoja strona internetowa jest czescia Twojego procesu sprzedazowego. Oprócz ładnego ubrania, daj jej też coś do powiedzenia. Nadaj swojej firmie unikalny głos, który pomoże Ci zwiększyc sprzedaż i&nbsp;zdobyć klientów.</p>
				</div>
				<div class="education-item">
					<h4 class="icon icon-rozmowa">Strona to rozmowa z klientem</h4>
					<!-- <hr class="hr-divider hr-thin"> -->
					<p>Kazda wizyta na Twojej stronie to rozmowa zapoczatkowana przez klienta. Odpowiedz na pytania odwiedzajacych poprzez prosty, przejrzysty i&nbsp;latwy do zrozumienia tekst.</p>
				</div>
			</li>	
		</ul>
	<!-- </div> -->

</section>
