<section  id="section-services" class="section section-services group">

	<div class="headline">
		<h3 class="wrap"><hr class="hr-divider">Czym się zajmuję?</h3>
	</div>	
	<div class="service-container wrap">
		<div class="service-box group">
			<div class="service-box-title"><h4>Tworząc</h4></div>		
			<div class="service-box-content">
				<ul class="service-box-services group">
					<li class="li-item">
						<div class="li-img"></div>
						<div class="li-text">
							<p>Teksty na strony internetowe, landing pages, blogi</p>
						</div>
					</li>
					<li class="li-item">
						<div class="li-img"></div>
						<div class="li-text">
							<p>Teksty na newslettery, mailing</p>
						</div>
					</li>
					<li class="li-item">
						<div class="li-img"></div>
						<div class="li-text">
							<p>Slogany i hasła reklamowe</p>
						</div>
					</li>
				</ul>
			</div>	
		</div>
		<div class="service-box group">
				<div class="service-box-title"><h4>Mogę Ci pomóc</h4></div>		
				<div class="service-box-content">
					<ul class="service-box-list">
						<li>przekonać Twoich klientów do Twojego produktu lub usługi</li>
						<li>poprawić lub podkreślić wizerunek Twojej marki</li>
						<li>wyróżnić Cię na tle konkurencji</li>
						<li>zamienić odwiedzających w Twoich klientów</li>
						<li>budować markę której ludzie ufają</li>
					</ul>
				</div>
		</div>
		<div class="service-box group">
			<div class="service-box-title"><h4>Bo wiem jak</h4></div>	
			<div class="service-box-content">
				<ul class="service-box-list">
					<li>zrozumieć Twój biznes, Twoje cele oraz potrzeby Twoich klientów</li>
					<li>pomóc Ci określić korzyści Twojej oferty i przekazać je Twoim odbiorcom</li>
					<li>efektywnie komunikować wartości i osobowość Twojego biznesu</li>
					<li>odpowiedzieć na pytania Twoich klientów poprzez prosty, przejrzysty i łatwy do zrozumienia tekst</li>
					<li>spowodować że będziesz brzmiał wiarygodnie i autorytatywnie, ale wciąż przyjaźnie i dostępnie</li>
					<li>pokazać Twoim odbiorcom, że jesteś po ich stronie</li>
				</ul>
			</div>	
		</div>
	</div>
</section>