<section id="section-help" class="section section-help">
	<div class="ct">
		<div class="section-title">
			<h3>Komu mogę pomóc?</h3>
			<span>czyli</span>
			<p>Kto może skorzystać z moich usług?</p>
		</div>

		<div class="section-body">
			<div class="tabs-wrap tabs-wrap--pomoc" data-effeckt-type='slide-up'>		   
			    <ul class="tabs tabs--pomoc">
			      <li><a href="#tab-1" class="tab tab--pomoc"><span>Firmy</span></a></li>
			      <li><a href="#tab-2" class="tab tab--pomoc"><span>Agencje reklamowe
Agencje interaktywne</span></a></li>
			      <li><a href="#tab-3" class="tab tab--pomoc"><span>Web designerzy</span></a></li>
			    </ul>

			    <div class="tabs-container tabs-container--pomoc">
			      <a class="tab-drawer-heading" href="#tab-1">Firmy</a>
			      <div id="tab-1" class="tab-content tab-content--pomoc">
			        <h4>Firmy</h4>
				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, vitae, expedita, inventore pariatur non laborum asperiores quod deserunt consectetur ducimus harum molestiae necessitatibus reprehenderit aut voluptates. Aliquid, error optio eligendi.</p>
			      </div>

			      <a class="tab-drawer-heading" href="#tab-2">Agencje reklamowe,
Agencje marketingowe</a>
			      <div id="tab-2" class="tab-content tab-content--pomoc">
			        <h4>Agencje reklamowe,
Agencje interaktywne</h4>
				    <p>Nunc dui velit, scelerisque eu placerat volutpat, dapibus eu nisi. Vivamus eleifend vestibulum odio non vulputate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, quae, saepe tenetur molestias harum rerum eligendi nobis eos accusamus in iste ullam ut quis minima non earum quidem ab maiores? Nunc dui velit, scelerisque eu placerat volutpat, dapibus eu nisi. Vivamus eleifend vestibulum odio non vulputate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, quae, saepe tenetur molestias harum rerum eligendi nobis eos accusamus in iste ullam ut quis minima non earum quidem ab maiores?Nunc dui velit, scelerisque eu placerat volutpat, dapibus eu nisi. Vivamus eleifend vestibulum odio non vulputate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, quae, saepe tenetur molestias harum rerum eligendi nobis eos accusamus in iste ullam ut quis minima non earum quidem ab maiores?</p>
			      </div>

			      <a class="tab-drawer-heading" href="#tab-3">Web designerzy</a>
			      <div id="tab-3" class="tab-content tab-content--pomoc">
			        <h4>Web designerzy</h4>
				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, totam, quae, quam vel dolores minus expedita cupiditate eius reprehenderit vitae porro dicta enim eligendi amet inventore doloremque autem iste necessitatibus.</p>
			      </div>
			    </div>
			 </div>
		</div>
	</div>
</section>