<section id="section-help" class="section section-help group">
	<div class="section-heading">
		<h3 class="wrap"><hr class="hr-divider">Komu mogę pomóc?</h3>	
	</div>
		
	<div class="tabs-wrapper wrap">

		<!-- <div class="tabs-wrapper"> -->
				<ul class="tabs">
				  <li class="active" rel="tab1"><span>Firmy</span></li>
				  <li rel="tab2"><span>Agencje reklamowe,
Agencje interaktywne</span></li>
				  <li rel="tab3"><span>Niezależni twórcy
stron www</span></li>
				</ul>
		<!-- </div> -->

		<div class="tab-content-wrapper">
			<div class="tab-content-inner-wrapper">
			  <h4 class="d-active tab-drawer-heading" rel="tab1">Firmy</h4>
			  <div id="tab1" class="tab-content">
			  <h4>Firmy</h4>
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, vitae, expedita, inventore pariatur non laborum asperiores quod deserunt consectetur ducimus harum molestiae necessitatibus reprehenderit aut voluptates. Aliquid, error optio eligendi.</p>
			  </div>
			  <!-- #tab1 -->
			  <h4 class="tab-drawer-heading" rel="tab2">Agencje reklamowe,
Agencje interaktywne</h4>
			  <div id="tab2" class="tab-content">
			  <h4>Agencje reklamowe,
Agencje interaktywne</h4>
			    <p>Nunc dui velit, scelerisque eu placerat volutpat, dapibus eu nisi. Vivamus eleifend vestibulum odio non vulputate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, quae, saepe tenetur molestias harum rerum eligendi nobis eos accusamus in iste ullam ut quis minima non earum quidem ab maiores? Nunc dui velit, scelerisque eu placerat volutpat, dapibus eu nisi. Vivamus eleifend vestibulum odio non vulputate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, quae, saepe tenetur molestias harum rerum eligendi nobis eos accusamus in iste ullam ut quis minima non earum quidem ab maiores?Nunc dui velit, scelerisque eu placerat volutpat, dapibus eu nisi. Vivamus eleifend vestibulum odio non vulputate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, quae, saepe tenetur molestias harum rerum eligendi nobis eos accusamus in iste ullam ut quis minima non earum quidem ab maiores?</p>
			  </div>
			  <!-- #tab2 -->
			  <h4 class="tab-drawer-heading" rel="tab3">Niezależni twórcy
stron www</h4>
			  <div id="tab3" class="tab-content">
			  	<h4>Niezależni twórcy stron www</h4>
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, totam, quae, quam vel dolores minus expedita cupiditate eius reprehenderit vitae porro dicta enim eligendi amet inventore doloremque autem iste necessitatibus.</p>
			  </div>
			  <!-- #tab3 -->
			<!--   	<a href="#" class="prev tab-control">Prev</a>
				<a href="#" class="next tab-control">Next</a> -->
			</div>
		</div>
	</div>
		
</section>