<section id="section-kontakt" class="section-kontakt">
	<div class="ct">
			<div class="section-title">
					<h3>Kontakt</h3>
					<span>czyli</span>
					<p>Rozpocznijmy współpracę</p>
			</div>

			<div class="section-kontakt-body">
				<!-- <h4>Zapraszam</h4> -->
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, quasi, modi, odio natus blanditiis velit omnis fugit eius nam explicabo ullam asperiores commodi laborum voluptate ad tempore voluptatum aliquam dolore.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, suscipit, quia, laborum neque error aspernatur ea esse dolorum vel maiores rerum at quos quasi dolore odit qui earum perferendis est.</p>
				<ul class="kontakt-list">
					<li class="spr-bef spr-mail">555-555-555</li>
					<li class="spr-bef spr-tel"><a href="mailto:milena@milush.pl">milena@milush.pl</a></li>
				</ul>
			</div>
	</div>
</section>