<footer class="footer">
	<div class="ct">
		<ul class="footer-body">
			<li class="copy"><span></span>&copy; 2014 Wszelkie prawa zastrzeżone</li>
			<li class="by">Projekt i realizacja: <a href="#" data-tooltip="dearty.com"></a></li>
		</ul>	
	</div>
</footer>