    <header>
      <div class="ct group">
        <div class="header--inner group">
          <a href="#home" class="logo" data-scroll><img src="/images/logo3b.svg" alt=""></a>
          <nav class="nav-collapse">
            <ul>
              <!-- <li class="active"><a href="#home" data-scroll>Home</a></li> -->
           <!--    <li><a href="#section-education" data-scroll><span class="nav-link-top">Czy</span> warto</a></li> -->
              <!-- <li><a href="#section-education" data-scroll>Po co Ci copywriter?</a></li> -->
              <li><a href="#section-services" data-scroll>Usługi</a></li>
              <li><a href="#section-help" data-scroll><span class="nav-link-top">Komu</span> mogę pomóc</a></li>
              <li><a href="#section-proces" data-scroll>Proces</a></li>
              <li><a href="#section-klienci" data-scroll >Klienci</a></li>
              <!-- <li><a href="#section-klienci" data-scroll >Klienci</a></li> -->
              <li><a href="#section-kontakt" data-scroll>Kontakt</a></li>
            </ul>
          </nav>
        </div>  
      </div> 
    </header>