.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: #000000;
}
.icon-mail {
	fill: #000000;
}
.icon-envelope {
	fill: #000000;
}
.icon-mail2 {
	fill: #000000;
}
.icon-envelope-o {
	fill: #000000;
}
.icon-envelope2 {
	fill: #000000;
}
.icon-mail3 {
	fill: #000000;
}
